In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:

df = pd.read_csv('venv\housingdata.csv')

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:

x = df['area']
y = df['price']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [9]:
len(X_train)

436

In [10]:
len(X_test)

109

In [11]:
model = LinearRegression()

In [12]:
y_test.ndim

1

In [13]:
X_train.ndim

1

In [14]:
np.array([X_train]).ndim

2

In [15]:
model.fit(np.array([X_train]).reshape(-1,1), y_train)

LinearRegression()

In [17]:
y_pred = model.predict(np.array(X_test).reshape(-1,1))

In [18]:
y_pred

array([6798743.16317062, 5457847.65373843, 3223021.80468477,
       4103407.74522106, 4167517.90089088, 6464647.98573633,
       4532313.71625156, 4396869.72539982, 5164385.67355966,
       6112493.60952182, 5931901.6217195 , 5685845.03833885,
       4297544.13210855, 3877667.76046817, 4080833.74674577,
       4089863.34613589, 3891212.15955334, 7629466.30706127,
       3539057.78333883, 3891212.15955334, 3929136.47699183,
       4279484.93332832, 5164385.67355966, 5164385.67355966,
       6302115.19671425, 6464647.98573633, 5390125.65831256,
       3855093.76199288, 5931901.6217195 , 4387840.12600971,
       5164385.67355966, 9769481.3625187 , 5615865.64306545,
       4351721.72844924, 4848349.69490561, 4306573.73149867,
       4243366.53576786, 4532313.71625156, 4487165.71930098,
       7196045.53633571, 4193703.73912222, 3891212.15955334,
       5344977.66136198, 4428473.32326523, 4035685.74979519,
       4229822.13668268, 4622609.71015272, 4780627.69947974,
       5119237.67660908, 4080833.74674577, 4013111.7513199 ,
       3883085.52010224, 5326918.46258175, 6044771.61409595,
       4026656.15040508, 5140908.71514536, 4207248.13820739,
       4044715.34918531, 4487165.71930098, 4098892.945526  ,
       5408184.85709279, 3769312.56778678, 5502995.650689  ,
       6247937.60037355, 3713780.53153757, 5925580.90214642,
       3358465.79553651, 3891212.15955334, 4098892.945526  ,
       4153070.5418667 , 5191474.47173001, 4040200.54949025,
       5553561.40727365, 4667757.7071033 , 4774306.97990666,
       4098892.945526  , 5688102.43818638, 4044715.34918531,
       4514254.51747133, 5146326.47477943, 5367551.65983727,
       5706161.63696661, 3482622.7871506 , 3809945.7650423 ,
       4080833.74674577, 4789657.29886986, 5654241.44047344,
       3809945.7650423 , 4378810.52661959, 4035685.74979519,
       4193703.73912222, 4419443.72387511, 5164385.67355966,
       5615865.64306545, 4730964.90283411, 3809945.7650423 ,
       4261425.73454809, 4094378.14583095, 5096663.6781338 ,
       4487165.71930098, 5322403.66288669, 4747218.18173631,
       3423930.39111485, 4496195.3186911 , 3809945.7650423 ,
       6329203.9948846 , 3796401.36595713, 4615837.51061013,
       5209533.67051024])

In [19]:
y_test

113    6083000
285    4235000
537    1890000
388    3500000
434    3290000
        ...
512    2520000
89     6440000
208    4900000
415    3395000
155    5530000
Name: price, Length: 109, dtype: int64

In [20]:
r2_score(y_test, y_pred)

0.34745155340790135

In [21]:
model.predict([[125]])

array([2511940.85271316])

In [22]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)